<div class="row">
	<div class="col-xs-12">
		<h2>Our items</h2>
	</div>
</div>
<div>
	<div *ngIf="loading">The shop data is currently loading ...</div>
	<div *ngIf="!loading">
		<div *ngIf="items.length == 0">There are no items in this shop.</div>
		<div *ngIf="items.length > 0" class="row">
			<div *ngFor="#item of items; #i = index" class="shop-item">
				<div class="col-xs-4 col-sm-3 col-md-2" [routerLink]="['Detail', { id: item.id }]">
					<div class="image"><img [src]="item.images[0]" class="img-responsive" /></div>
					<div class="name">{{item.name}}</div>
				</div>
				<div *ngIf="i % 3 == 2" class="clearfix visible-xs-block"></div>
				<div *ngIf="i % 4 == 3" class="clearfix visible-sm-block"></div>
				<div *ngIf="i % 6 == 5" class="clearfix visible-md-block visible-log-block"></div>
			</div>
		</div>
	</div>
</div>